main.Editor{
  box-sizing: border-box;
  font-family: sans-serif;
  justify-content: center;
  padding: 20px;
  display: table;
  width: 83%;
  margin: 10px auto;
  background-color:var(--font_table);
  box-shadow: 0 1px 4px 0 var(--link-color);
}
.product_editor{
  cursor: pointer;
  display: flex;
}
.product_editor i{
  font-size: 27px;
}
.image-upload{
  box-sizing: border-box;
  font-family: sans-serif;
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px dotted var(--link-color);
  width: 50%;
  margin: 10px;
  background-color: var(--font_table);
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.image-upload::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  z-index: 55;
  background-color: var(--font_table);
  width: 30%;
}
.fileInput{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: transparent;
}
.Upload_image{
  margin-top: 50px;
  color: var(--link-color);

}
.files{
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Attributes{
  color: var(--color-semi-gray);
  padding: 10px 20px;
  position: absolute;
  margin-top: 10px;
  bottom: 13%;
  
}
.dropdown_Attributes{
  border: none;
  border-radius: 10px;
  border: 2px solid var(--dropdown-color);
}
.dropdown_Attributes:hover{
  border: 2px solid  var(--link-color) ; 
}
.inches{
  font-size: 15px;
  color: var(--color-semi-gray);
}
.inches_btn{
  background-color: transparent;
  color:var(--color-semi-gray);
  border: none;
  border-radius: 10px;
  border: 2px solid var(--dropdown-color);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.inches_btn:hover{
  border: 2px solid var(--link-color);
}
.weight{
  font-size: 15px;
  color: var(--color-semi-gray);
}
.weight_btn{
  background-color: transparent;
  color:var(--color-semi-gray);
  border: none;
  border-radius: 10px;
  border: 2px solid var(--dropdown-color);
  align-items: center;
  padding: 10px 20px;
  display:flex;
}
.weight_btn:hover{
  border: 2px solid var(--link-color);
}
.Description_p{
  font-size: 13px;
  color: var(--color-semi-gray);
}
.Description_div{
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 70%;
  background-color: var(--font_table);
  border: 2px solid var(--dropdown-color);
  box-shadow: 0 4px 8px var(--bg-color);
  padding: 10px 20px;
}
.Description_div:hover{
  border: 2px solid var(--link-color);
}
.Description{
  font-size: 18px;
  color: var(--color-semi-gray);
  padding: 10px;
}