main.Editor{
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  display: table;
  width: 83%;
  margin: 10px auto;
  background-color:var(--font_table);
  box-shadow: 0 1px 4px 0 var(--link-color);
}
.product_editor{
  cursor: pointer;
}
.product_editor i{
  font-size: 27px;

}
.image-upload{
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px dotted var(--link-color);
  display: table;
  width: 50%;
  margin: 10px;
  background-color: var(--font_table);
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.image-upload::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  z-index: 55;
  background-color: var(--font_table);
  width: 30%;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#imageContainer {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
/* input{
  display: none;
} */
.fileInput{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: transparent;
}
