/* ===================================== Start Global  ====================================== */
:root{
   --primary-color:#edf2fc;
   --secondry-color:#182a4e;
   --border-color:#0984e3;
   --bg-color:#101e42;
   --color-semi-gray:#b0b7d4;
   --link-color:#4da6ff;
   --submit-bg:#189d82;
   --submit-bg-hover: #22eec58f;
   --font_table: #060e20;
   --font-product:#bedbef;
   --dropdown-color:darkblue;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: Arial, sans-serif;
   background-color:  var(--secondry-color);
   color: #ffffff;
   margin: 0;
   padding: 0;
   scroll-padding: 0;
   text-decoration: none;
}
a{
   color: var(--link-color);
   text-decoration: none;
   position: relative;
}

a::before{
	content: '';
	width: 0;
	position: absolute;
	left: 0;
	height: 3px;
	background-color: #22d3ee;
	bottom: -7px;
	transform: 0.3s;
	transition: 1.5s;
	

}
a:hover{
	text-decoration-color: #22d3ee;

}
a:hover::before{
	width: 100%;
	height: 1px;
	transform: 1.5s;
	transition: width 0.5s ease-in-out;

}



.site-name{
   font-weight: bold;
   font-size: 50px;
   font-style: italic;
   color: var(--color-semi-gray);
}
.header {
   display: flex;
   gap: 20px;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.header-right-side{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
}
.header-right-side i{
   font-size: 16px;
   width: 32px;
   height: 32px;
   justify-content: center;
   align-items: center;
   display: flex;

}

.header-profile{
   background-color: var(--border-color);
   border-radius: 50%;
}


.header-profile i{
   color:var(--secondry-color);
}
.header-profile::before{
   content: none;
}
.sidebar{
   width: 30%;
   height: 100vh;
   background:var(--bg-color);
}
.sidebar_titil{
   font-size: 22px;
   color: #b0b7d4;
   text-align: start;
   line-height: 70px;
   user-select: none;
}
.sidebar ul a{
   display: block;
   height:100%;
   width: 100%;
   line-height: 65px;
   font-size: 20px;
   color: var(--color-semi-gray);
   padding-left: 40px;
   box-sizing: border-box;
}
ul li :hover {
   border-radius: 5px;
   border: 2px solid  var(--border-color);
}
.input-div{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 10px 0;
}
.input-div label{
   font-weight:700;
	font-size: 16px;
	cursor:pointer;
	color: var(--color-semi-gray);
}
.input-div input{
   width: 100%;
   height: 50px;
   border-radius: 8px;
	border: 1px solid var(--border-color);
	background: #182a4e;
	color: var(--color-semi-gray);
	font-size: 18px;
	text-align: left;
	text-overflow: ellipsis;
   padding: 10px;
}
.input-div input:hover,
.input-div input:focus,
.input-div input:focus-visible{
   border: 2px solid rgba(21, 18, 190, 0.701);
   outline: none;
}

input[type="submit"],
button[type="submit"]{
   background: var(--submit-bg);
   width: 32%;
   height: 50px;
   color: #0d193a;
   padding: 10px;
   font-size: 16px;
   border-radius: 20px;
   border: 1px solid var(--submit-bg);
   color: white;
   cursor: pointer;
   width: 100%;
   margin: 30px 0;
}
.login-button:hover{
	background-color: var(--submit-bg-hover);
	border: 1px solid  var(--submit-bg-hover); 
}
.password-with-icon{
   position: relative;
}
.password-with-icon .eye{
   position: absolute;
   top: 37%;
   right: 4px;
   transform: translate(-50%, -50%);
   color: var(--link-color);
   font-size: 16px;
}
.title{
   height: 90px;
   border-radius: 10px;
   cursor: pointer;
   display: flex;
   justify-content: start;
   align-items: center;
   width: 100%;
   background-color: #060e20;
   border: 2px solid #142a3a;
   box-shadow: 0 4px 8px rgba(44, 51, 185, 0.3);
   padding: 20px;
   margin-bottom: 20px;
}
.title h1 {
   font-size: 40px;
   font-weight: bold;
   color: var(--color-semi-gray);
}
.taxonmies{
   display: flex ;
   gap: 5px;
   padding: 0 10px;
}
.taxonmies-div-title{
   font-size: 20px;
   font-weight: 600;
}
.tax-sperator{
   font-size: 20px;
   font-weight: bold;
   padding: 0 2px;
}
.single-tax{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}
/* ===================================== End  Global  ====================================== */


/* ================================================ disable bootsrap ================================ */
h3{
   margin-bottom: 0;
}
/* ================================================ disable bootsrap ================================ */
/*================================================ search =====================================*/
.search{
   background-color: transparent;
   color:var(--color-semi-gray);
   height: 50px;
   width: 130%;
   border-radius: 10px;
   border: 2px solid var(--border-color);
   box-shadow: 0 4px 8px var(--bg-color);
   padding: 10px ;
   top:25%;
   align-items: center;
   cursor: pointer;
}
.search:hover {
   box-shadow: 0 2px 4px var(--link-color);
   border: 2px solid  var(--link-color) ;
 }
/*==================================================dropdown========================================*/
.Dropdown_seciton{
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}
.dropdown{
   border: none;
   border-radius: 10px;
   cursor: pointer;
   border: 2px solid var(--dropdown-color);
}
.dropdown:hover{
   border: 2px solid  var(--link-color) ; 
}

/*================================================ titel =============================================*/
.table_titil{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 60px;
}
.table_titil h1{
   font-family: sans-serif;
   font-size: 20px;
   margin-right: 66%;
}
main.table{
   box-sizing: border-box;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   padding: 20px;
   display: table;
   width: 100%;
   margin: 10px auto;
   background-color:var(--font_table);
   box-shadow: 0 1px 4px 0 var(--link-color);
 }
 main.table:hover{
   box-shadow: 0 1px 4px 0 var(--border-color);
 }
 .table_body{
   display: table-cell;
   width: 30px;
   text-align: center;
   padding: 4px 0;
   background-color:var(--font_table);
 }
 td img{
   width: 35px;
   height: 35px;
   margin-right: .5rem;
 }
 table,th,td{
   padding: .1rem;
   background-color:var(--font_table);
   padding: 20px;
   justify-content: center;
   align-items: center;
   top: 20px;
 }
.table_header{
   box-sizing: border-box;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   padding: 20px;
   display: table;
   width: 100%;
   margin: 10px auto;
   background: var(--font_table);
   padding: 5px;
   gap: 10px;
   align-items: center;
   top: 20px;
   cursor: pointer;
 }
 .design_header{
   font-size: 15px;
   font-weight: bold;
   color: var(--link-color);
   width: 50%;
   height: 50%;
   cursor: pointer;
 }
 .product_name_design{
   color: var(--font-product);
   font-size: 18px;
   font-weight: bold;
   align-items: right;
   padding: 20px;
   justify-content: right;
   cursor: pointer;
 }
 .imge_product{
   border-radius: 10px;
   width: 50px;
   height: 60%;
   cursor: pointer;
 }
 .SKU_font{
   color: var(--color-semi-gray);
   cursor: pointer;
 }
 .in_Stock{
   color: #00b894;
   font-size: 15px;
   cursor: pointer;
 }
 .Low_Inventory{
   color: #00b894;
   font-size: 15px;
   cursor: pointer;
 }
 .out_of_Stock{
   color:red;
   font-size: 15px;
   cursor: pointer;
 }
 .On_Demand{
   color: var(--color-semi-gray);
   font-size: 15px;
   cursor: pointer;
 }
 .number_product{
   color: var(--color-semi-gray);
   font-size: 15px;
   cursor: pointer;
 }
 .Price{
   color: var(--color-semi-gray);
   cursor: pointer;
 }
 .CATEGORY{
   color: var( --link-color);
   cursor: pointer;
 }
 .Tags{
   color: var( --link-color);
   cursor: pointer;
 }
 .Actions{
   color: var( --link-color);
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }
 .action_link a:hover{
   text-decoration: none;
   cursor: pointer;
 }